body {
    background: linear-gradient(45deg, orange, rgb(248, 99, 45));
}


.container {
    background-color: aliceblue;
    border-radius: 20px;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    text-align: right;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}




/* images */
.images {
    display: flex;
    justify-content: space-evenly;

}

.images .handgesture {
    background-color: #ffd51b;
    color: #000000;
    border: none;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.container .choices {
    text-align: center;
    margin-top: 45px;
    font-weight: bold;
    font-size: 20px;
}

.container #resultscore {
    display: none;
    margin: 0px auto;
    margin-top: 35px;
    padding: 20px 80px;
    background-color: rgb(174, 239, 24);
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(77, 75, 75);
    cursor: pointer;
}